[Desktop Entry]
Version=1.0
Name=CatsCradle
Exec=/home/bill/Desktop/CatsCradle.sh
Icon=/home/bill/Desktop/CatsCradle-master/icon_headshot.jpg
Terminal=true
Type=Application
